#File ,"URL", Import_URL
Plugins,"Chooselanguage",Change_Lang
Plugins,"DynamicProfile",Dynamic_Profiler
Plugins,"OpenStar",OpenDSS_
Plugins,"ImportURL",Import_URL
Plugins,"AlignRGB",Align_RGB_planes
Plugins,"LiveHistg",Live_Histogram
Plugins,"PointPicker", PointPicker_
Plugins,"StackPhotometry", Stack_Photometer